{% extends "app/layout.html" %}
{% load static %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="row row-eq-height">
    <!-- Python -->
    <div class="col-md-4">
        <div class="resource-thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" alt="Python Logo" class="resource-img">
            <div class="caption">
                <h3>Python.org</h3>
                <p>Официальный сайт языка программирования Python. Документация, загрузки и последние новости сообщества разработчиков.</p>
                <div class="btn-container">
                    <a href="https://www.python.org/" class="btn btn-primary" role="button">Перейти &raquo;</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Django -->
    <div class="col-md-4">
        <div class="resource-thumbnail">
            <img src="https://static.djangoproject.com/img/logos/django-logo-negative.svg" alt="Django Logo" class="resource-img resource-img-dark-bg">
            <div class="caption">
                <h3>Django Project</h3>
                <p>Дом нашего любимого фреймворка. Всё о Django: от подробных туториалов для новичков до исходного кода ядра.</p>
                <div class="btn-container">
                    <a href="https://www.djangoproject.com/" class="btn btn-primary" role="button">Перейти &raquo;</a>
                </div>
            </div>
        </div>
    </div>

    <!-- GitHub -->
    <div class="col-md-4">
        <div class="resource-thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="GitHub Logo" class="resource-img">
            <div class="caption">
                <h3>GitHub</h3>
                <p>Крупнейший веб-сервис для хостинга IT-проектов и их совместной разработки. Место, где живет Open Source.</p>
                <div class="btn-container">
                    <a href="https://github.com/" class="btn btn-primary" role="button">Перейти &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}